<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rozzles.camera"
    android:versionCode="2"
    android:versionName="1.01" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.rozzles.camera.FlatHome"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rozzles.camera.ShutterRelease"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_shutter_release"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.rozzles.camera.ShakeTrigger"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_shake_trigger"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.rozzles.camera.Timelapse"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_timelapse"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.rozzles.camera.LightTrigger"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_light_trigger"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.rozzles.camera.SoundTrigger"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_sound_trigger"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.rozzles.camera.BlueControl"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_blue_control"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="com.rozzles.camera.BlueComms"
            android:enabled="true" >
        </service>

        <activity
            android:name="com.rozzles.camera.DripTrig"
            android:label="@string/title_activity_drip_trig" >
        </activity>
        <activity
            android:name="com.rozzles.camera.MainActivity"
            android:label="@string/title_activity_flat_home" >
        </activity>
        <activity
            android:name="com.rozzles.camera.HDRLapse"
            android:label="@string/title_activity_hdrlapse" >
        </activity>
        <activity
            android:name="com.rozzles.camera.SetupOne"
            android:label="@string/title_activity_setup_one" >
        </activity>
        <activity
            android:name="com.rozzles.camera.SetupTwo"
            android:label="@string/title_activity_setup_two" >
        </activity>
        <activity
            android:name="com.rozzles.camera.SetupThree"
            android:label="@string/title_activity_setup_three" >
        </activity>
        <activity
            android:name="com.rozzles.camera.FlatSettings"
            android:label="@string/title_activity_flat_settings" >
        </activity>
        <activity
            android:name="com.rozzles.camera.ServoTimelapse"
            android:label="@string/title_activity_servo_timelapse" >
        </activity>
    </application>

</manifest>
